@model MvcApplication2.Models.UserModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Adani Wilmar :: Manage User </title>
    <meta name="author" content="Sachin Khedkar">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="~/new/js/html5-trunk.js"></script>
    <link href="~/new/icomoon/style.css" rel="stylesheet">
    <link href="~/new/css/nvd-charts.css" rel="stylesheet">
    <!-- Bootstrap css -->
    <link href="~/new/css/main.css" rel="stylesheet">
    <!-- fullcalendar css -->
    <link href='~/new/css/fullcalendar/fullcalendar.css' rel='stylesheet' />
    <link href='~/new/css/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
</head>
<body>
    <header>
        <div class="row-fluid">
            <div class="span3">
                <a href="#" class="logo">
                    <img src="~/new/img/logo1.png" style="width:185px">

                </a>
            </div>
            <div class="span6" style="align-items:center; margin-top: -79px; color: #FFF;" align="center">



                <h3>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Manufacturing Automation System </h3>
                <h4 style="margin-top:-8px !important;">  &nbsp;&nbsp;&nbsp;&nbsp;(PLC to SAP) </h4>
            </div>
            <div class="span3">
                <div id="mini-nav">
                    <ul class="hidden-phone">
                        <li>
                            <a href="#">Mundra Plant </a>
                        </li>
                        <li>
                            <a href="#">Welcome @ViewBag.LoggedInUser</a>
                        </li>
                        <li>
                            <a href="" onclick="Logout()"> Logout  <span class="fs1" aria-hidden="true" data-icon="&#xe0b1;"></span></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">


        <div class="dashboard-wrapper" style="margin-left:5px !important;">
            <div id="main-nav" class="hidden-phone hidden-tablet">
                <ul>
                    <li>
                        <a href="@Url.Action("GetPOList", "Admin")">
                            <span class="fs1" aria-hidden="true" data-icon=""></span> Process Order List
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("GetSubmitedPOList", "Admin")" >
                            <span class="fs1" aria-hidden="true" data-icon=""></span> Submitted PO List
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("RegisterUser", "Admin")" class="selected">
                            <span class="fs1" aria-hidden="true" data-icon=""></span> Manage Users
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="main-container">
                <div class="navbar hidden-desktop">
                    <div class="navbar-inner">
                        <div class="container">
                            <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse collapse navbar-responsive-collapse">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget no-margin">
                            <div class="widget-header">
                                <div class="title">
                                    <span class="fs1" aria-hidden="true" data-icon=""></span> Manage Users 
                                </div>
                            </div>
                            <div class="widget-body">

                                @using (Html.BeginForm("SaveUser", "Admin", FormMethod.Post))
                                {
                                    <div class="row-fluid">
                                        <div class="span3">

                                            <label class="control-label">
                                                First Name :
                                            </label>

                                            <div class="form-row-feild" style="display:none">
                                                @Html.TextBoxFor(model => model.id, new { id = "txtID", @class = "span12" })
                                            </div>

                                            <div class="controls controls-row">
                                                @Html.TextBoxFor(model => model.firstName, new { id = "txtFirstName", @class = "span12", required = "required" }) &nbsp;<br />@Html.ValidationMessageFor(m => m.email)
                                            </div>
                                        </div>

                                        <div class="span3">

                                            <label class="control-label">
                                                Last Name :
                                            </label>
                                            <div class="controls controls-row">
                                                @Html.TextBoxFor(model => model.lastName, new { id = "txtLastName", @class = "span12", required = "required" })&nbsp;<br />@Html.ValidationMessageFor(m => m.firstName)
                                            </div>
                                        </div>


                                        <div class="span3">

                                            <label class="control-label">
                                                Email Address
                                            </label>
                                            <div class="controls controls-row">
                                                @Html.TextBoxFor(model => model.email, new { id = "txtEmail", @class = "span12", @type = "email", required = "required" })&nbsp;<br />@Html.ValidationMessageFor(m => m.firstName)
                                            </div>
                                        </div>


                                        <div class="span3">

                                            <label class="control-label">
                                                User Name
                                            </label>
                                            <div class="controls controls-row">
                                                @Html.TextBoxFor(model => model.userName, new { id = "txtUserName1", @class = "span12", required = "required" })&nbsp;<br />@Html.ValidationMessageFor(m => m.firstName)
                                            </div>
                                        </div>

                                    </div>



                                <div class="row-fluid">

                                    <div class="span3">

                                        <label class="control-label">
                                            Refinery Access
                                        </label>
                                        <div class="controls controls-row">
                                            @Html.ListBoxFor(m => m.SelectedRefinery, Model.lstrefinery, new { id = "txtRefinery", @class = "listbox", name = "txtRefinery" })
                                        </div>
                                    </div>


                                    <div class="span9">
                                        <label class="control-label">
                                            &emsp;
                                        </label>
                                        
                                            <div class="controls controls-row">
                                                <br />
                                                <br />
                                                <br />
                                                <input type="submit" class="btn btn-primary btn-blue" value="Submit" onclick="return ValidateForm();" />
                                                &emsp; &emsp;  <input type="reset" class="btn " value="Clear" />
                                               
</div>
                           

                                    </div>
                                    
                                    </div>
    <div class="row-fluid">
        <p>
            <label id="errorMessage" class="form-row-feild field-validation-error" style=" color:red !important;"></label>
        </p>
        <p>
            <label id="errorMessagerefinery" class="form-row-feild field-validation-error" style=" color:red !important;"></label>
        </p>
        <p>
            <label id="errorMessageExist" class="form-row-feild field-validation-error" style=" color:red !important;"></label>
        </p>
        
        </div>

                                }


                            </div>
                            </div>

                    </div>
                </div>



                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget no-margin">
                            <div class="widget-header">
                                <div class="title">
                                    <span class="fs1" aria-hidden="true" data-icon=""></span> User Details
                                </div>
                            </div>
                            <div class="widget-body">






                                <div id="dt_example" class="example_alt_pagination">
                                    <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                        <thead>

                                            <tr>
                                                <th style="display:none">User Name</th>
                                                <th>User Name</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email Address</th>
                                                <th>Refinery Access</th>
                                                <th> Action </th>
                                            </tr>

                                            
                                        </thead>
                                        <tbody>


                                            @for (int i = 0; i < Model.lstUserModel.Count; i++)
                                            {
                                                <tr class="gradeA">
                                                    <td id="@("User_"+@Model.lstUserModel[i].id)" style="display:none">@Model.lstUserModel[i].id</td>
                                                    <td>@Model.lstUserModel[i].userName</td>
                                                    <td>@Model.lstUserModel[i].firstName</td>
                                                    <td>@Model.lstUserModel[i].lastName</td>
                                                    <td>@Model.lstUserModel[i].email</td>
                                                    <td>@Model.lstUserModel[i].refinery</td>


                                                    <td>
                                                    <div class="row-fluid" align="center">
                                                        <div class="span6">
                                                            <button type="button" name="Edit" class="btn btn-primary" id="@("EditUser_"+@Model.lstUserModel[i].id)" onclick="EditUser($(this).attr('id'))"> Edit  </button>

                                                            
                                                        </div>
                                                        <div class="span6">

                                                            <button type="button" name="Delete" class="btn btn-primary" id="@("DeleteUser_"+@Model.lstUserModel[i].id)" onclick="DeleteUser($(this).attr('id'))"> Delete  </button>


                                                        </div>
                                                     </div>
                                                    </td>
                                                </tr>
                                            }




                                           
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>&emsp;</div>
                <div>&emsp;</div>
            </div>
    </div><!-- dashboard-container -->
    </div><!-- container-fluid -->
    <input type="text" id="usernameexits" />
    
    <header>
        <p style="text-align:center; vertical-align: central;  margin-top:-57px; color:#FFFFFF; font-size:17px; font-weight:300;">
            Design And  Developed by ECGIT Pune. For any issues please contact: <mailto:adaniwilmar.support@ecgit.com>adaniwilmar.support@ecgit.com</mailto:adaniwilmar.support@ecgit.com>
        </p>
    </header>
    <script src="~/new/js/jquery.min.js"></script>
    <script class="include" type="text/javascript" src="~/new/js/script.js"></script>
    <style href="~/new/js/style.css" type="text/css"></style>
    <script src="~/new/js/bootstrap.js"></script>
    <script src="~/new/js/moment.js"></script>
    <!-- Flot charts -->
    <script src="~/new/js/flot/jquery.flot.js"></script>
    <script src="~/new/js/flot/jquery.flot.selection.js"></script>
    <script src="~/new/js/flot/jquery.flot.pie.js"></script>
    <script src="~/new/js/flot/jquery.flot.tooltip.js"></script>

    <!-- Tiny scrollbar js -->
    <script src="~/new/js/tiny-scrollbar.js"></script>

    <!-- Sparkline charts -->
    <script src="~/new/js/sparkline.js"></script>
    <!-- Datatables JS -->
    <script src="~/new/js/jquery.dataTables.js"></script>
    <!-- Calendar Js -->
    <script src='~/new/js/fullcalendar/jquery-ui-1.10.2.custom.min.js'></script>
    <script src='~/new/js/fullcalendar/fullcalendar.min.js'></script>
    <!-- Custom Js -->
    <script src="~/new/js/custom-index.js"></script>
    <script src="~/new/js/custom-calendar.js"></script>
    <script src="~/new/js/theming.js"></script>
    <script src="~/new/js/custom.js"></script>


    <script src="~/Scripts/jquery.dialogBox.js"></script>
    <link href="~/CSS/jquery.dialogbox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.js"></script>


    <script>
    function Logout() {

        if (confirm("Are you sure to you want to logout?")) {

            $.ajax({
                url: '@Url.Action("LogOut","Login")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null && response.status) {
                       // alert("Logged out Successfuly.");
                        var name = sessionStorage.getItem("name");
                        var id = sessionStorage.getItem("id");
                        sessionStorage.removeItem(name);
                        sessionStorage.removeItem(id);
                        window.location.reload();


                    }
                }
            });
        }
        return false;
    }


    </script>

    <!---<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script> -->
    <script type="text/javascript">
      /*  $(function () {
            $('.listbox').multiselect({
                includeSelectAllOption: true
            });
        });*/
    </script>


    <script>

    function EditUser(UserID) {
        var id = UserID.split("_");
        $('#usernameexits').val('notexist');

        $.ajax({
            url: '@Url.Action("EditUser", "Admin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { UserID: parseInt(id[1]) },
            success: function (response) {
                if (response != null) {

                    document.getElementById('txtID').value = response.ID;
                    document.getElementById('txtFirstName').value = response.FirstName;
                    document.getElementById('txtLastName').value = response.LastName;
                    document.getElementById("txtEmail").value = response.Email;
                    document.getElementById("txtUserName1").value = response.UserName;
                    var selected = response.Refinery;

                    //   document.getElementById("txtRefinery").value = response.Refinery;
                    setSelectedItem(selected);
                    //  window.location.reload();

                } else {
                    alert("Error while Editing record.");
                    // window.location.reload();
                }
            },
            error: function (response) {
                alert("Error while Editing record.");
                //  window.location.reload();
            }
        });

    }
    </script>
    <script>

        function setSelectedItem(selected) {
            var techGroups = document.getElementById("txtRefinery");
           

            var selectedGroups = selected.split(",");

            for (var i = 0; i < techGroups.options.length; i++) {

              //  alert(techGroups.options[0].text);

                for (var j = 0; j < selectedGroups.length; j++) {

                    if (techGroups.options[i].text == selectedGroups[j]) {
                        techGroups.options[i].selected = true;

                    }
                }
            }

        }


        function DeleteUser(UserID) {


            if (confirm("Are you sure to you want to delete selected user?")) {
                var id = UserID.split("_");
                //alert('the id is ' + parseInt(id[1]));

                $.ajax({
                    url: '@Url.Action("DeleteUser","Admin")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { UserID: parseInt(id[1]) },
                    success: function (response) {
                        if (response != null && response.status) {
                            alert("Record Deleted Successfuly.");

                            window.location.reload();
                        } else {
                            alert('Error while deleteing User.');
                        }
                    },
                    error: function (response) {
                        alert('Error while deleteing User.');
                    }
                });
            } return false;
          
        }


        function checkExitUser() {
            var username = $('#txtUserName1').val();
            var status_check = '';
            $.ajax({
                url: '@Url.Action("CheckExitUser", "Admin")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { UserName: username },
                success: function (response) {
                   
                 

                    $('#usernameexits').val(response.status);
                },
                error: function (response) {
                    alert('Error while deleteing User.');
                }
            });
           
        }



        function ValidateForm() {
              checkExitUser();


            var username = $('#txtUserName1').val();
            var usernameexits = $('#usernameexits').val();
            var selected = $('#txtRefinery').val();

           



            if (selected) {
                $("#errorMessagerefinery").text("");
            } else {
                $("#errorMessagerefinery").text("Please select refinery .");
                return false;
            }

            var error = 0;
            if (($('#txtFirstName').val() == '') || ($('#txtLastName').val() == '') || ($('#txtEmail').val() == '') || ($('#txtUserName1').val() == '') || ($('#txtPassword1').val() == '') || ($('#txtConfirmPassword').val() == '')) {
                error = 1;
            }
            else if ($('#txtPassword1').val() != $('#txtConfirmPassword').val()) {
                error = 2;
            }
            else if (selected =='') {
                error = 3;
            }else{


            }



            /*if (usernameexits == 'exist') {
                $("#errorMessageExist").text("This user name is allready register please try agin with new username");
                return false;
            } else {
                $("#errorMessageExist").text("");
            }
            */
           

            if (error == 0) {
                $("#errorMessage").text("");
                $("#errorMessage").hide();
                return true;
            }
            else {
                if (error == 1) {
                    $("#errorMessage").text("Please fill all mandetory fields.");
                }
                if (error == 2) {
                    $("#errorMessage").text("Password and confirm password fields doesn't match.");
                }

                if (confirm("Are you sure to you want to add this user?")) {
                    return true;
                }
                return false;
            }




          

        }



    </script>
</body>
</html>